.submitBtn {
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 25px;
  transition-duration: 0.4s;
  background-color: white;
  border: 4px solid rgb(3, 255, 3);
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

.submitBtn:hover {
  background-color: rgb(3, 255, 3); /* Green */
  color: white;
}
