.inputField {
  display: flex;
  flex-direction: column;
  align-items: center;
}

select,
input[type="text"],
input[type="choice-radio"],
input[type="number"] {
  width: 18rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  border-width: 1px;
  border-style: outset;
  border-color: black;
  font-family: inherit;
  cursor: pointer;
}

.errormsg {
  /* justify-content: center;
  flex-wrap: wrap;
  align-content: center; */
  font-size: 1.25rem;
  font-weight: bold;
  margin: 1.2rem;
  color: red;
}

input[type="text"].err, input[type="number"].err, .err{
  border-radius: 0.5rem;
  border-width: 1px;
  border-style: outset;
  font-family: inherit;
  border-color: red;
  outline: 1px dashed red;
  outline-offset: 1px;
}

label {
  font-weight: bold;
}

.loading{
     /* Make form elements appear disabled against grey background */
     background-color: gray;
     opacity:0.5; 
  
     /* Prevent user interaction with form while disabled */
     pointer-events:none;
}